body{
    background-color: #000;
}
h1{
    font-size: 30px;
    color: #fff;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.image{
    align-items: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    width: 100%;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: #fff;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150,150,150,.3);
    transition: all .3s ease-out;

}
body a{
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: left;
    color: white;
}
.icon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-x-twitter{
   color: #1da1f2;
}
.twt:hover{
    background: #1da1f2;
}
.icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover {
     background-color: #0077B5;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background-color: #000;
}
.icon .fa-instagram{
    color:#833ab4;
}
.ins:hover{
    background-color:#833ab4;
}
.icon .fa-envelope{
    color: rgb(61, 87, 149);
}
.eml:hover{
   background-color: rgb(61, 87, 149) ;
}
